<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yourcompany.marketstub">

  <application android:label="Market Stub">
    <activity android:name=".MarketStubActivity"
              android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="market"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
